<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/files/imgs/design/favicon.ico" type="image/ico">

    <title> Поиск</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script>
		window.onmousedown = function (e) {
		var el = e.target;
		if (el.tagName.toLowerCase() == 'option' && el.parentNode.hasAttribute('multiple')) {
			e.preventDefault();

			// toggle selection
			if (el.hasAttribute('selected')) el.removeAttribute('selected');
			else el.setAttribute('selected', '');

			// hack to correct buggy behavior
			var select = el.parentNode.cloneNode(true);
			el.parentNode.parentNode.replaceChild(select, el.parentNode);
		}
	}
		function DetectMob()
		{
		   var uagent = navigator.userAgent.toLowerCase();
		   if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent))
		   {
			  document.getElementById("menu").style.visibility = "hidden";
		   }
		}
	</script>
	<style type = "text/css">
	body {
	  padding-top: 10px;
	  padding-bottom: 5px;
	}
	.menu{
		position: fixed;
		top: 280px;
		right: 50px;
		width: 148px;
		height: 100px;
		backgroundcolor:#395610;
		padding: 10px;
		}
	html,
	body {
	  	height: 100%;
	}
	.container {
	 	display: table;
	 	height: 100%;
	}
	.row {
	  display: table-row;
	  height: 100%;
	}
	footer{
	 	width:100%;
	 	border:2px solid #dddddd;
	 	background-color:#f9f9f9;
	}
	</style>
	
  </head>

  <body onload="DetectMob()">

    <nav class="navbar navbar-fixed-top" style="background-color:#0a8e34">
          <div style="background-image:url(/static/files/imgs/design/menu_bg.png);background-repeat:no-repeat">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div style="padding-top:5px;">
          <a href="/">
			  <img src="/static/files/imgs/design/logo.png"/>
		  </a>
		  </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
			<form class="navbar-form navbar-right" method="get">
			{% csrf_token %}
				<div class="form-group" style = "color:white">
					Доброго дня, <i style="color:lightblue">{{name}}!</i>
				</div>
				<div class="form-group">
					<button class="btn btn-fail" formaction = "logout">Вийти</button>
				</div>
			</form>

        </div><!--/.navbar-collapse -->
      </div>
	  </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background:white;">
    </div>

	<div class = "menu" id="menu">
		<div class="navbar-form navbar-right">
			{%if entered == "chief"%}
				<a href="search"><button class="btn btn-success btn-block" type="submit">Розгорнутий пошук</button></a>
				<hr>
				<a href="regi"><button class="btn btn-success btn-block" type="submit">Создати нового робітника</button></a>
				<hr>
				<form><button class="btn btn-success btn-block" type="submit" formaction="\">На головну сторінку</button></form>
			{%endif%}
			{%if entered == "worker"%}
				<a href="search"><button class="btn btn-success btn-block" type="submit">Розгорнутий пошук</button></a>
				<hr>
				<p></p>
				<a href="add?obj=startuper"><button class="btn btn-success btn-block" type="submit">Додати стартапера</button></a>
				<p></p>
				<a href="add?obj=project"><button class="btn btn-success btn-block" type="submit">Додати проект</button></a>
				<p></p>
				<a href="add?obj=investor"><button class="btn btn-success btn-block" type="submit">Додати інвестора</button></a>
				<p></p>
				<a href="add?obj=mentor"><button class="btn btn-success btn-block" type="submit">Додати ментора</button></a>
				<p></p>
				<a href="eventadd"><button class="btn btn-success btn-block" type="submit">Додати захід</button></a>
				<p></p>
				<a href="tagadd"><button class="btn btn-success btn-block" type="submit">Додати ключеві слова</button></a>
				<hr>
				<form><button class="btn btn-success btn-block" type="submit" formaction="\">На главну сторінку</button></form>
			{%endif%}
		</div>
	</div>

    <div class="container">
		  <!-- Example row of columns -->
		<div class="row">
			<div class="col-md-10">
				<h3>Пошук проектів</h3>
				<hr>
			<form method="post">
				{% csrf_token %}
				<br>
				<a href="/search" class="btn btn-success">Назад</a>
				<br>
				<br>
				<br>
				<div>
					<table class="table table">
						<tbody id="field">
							<tr>
								<td width="200">
									Назва: <input name="tbTitle"  pattern="^[А-Яа-яЁёІіЇї]+$" type="text" class="form-control" value="{{searchObj.title}}" />
								</td>
								<td width="200">
									Школа:
									<select name="selSchool" class="form-control">
										{%if searchObj.city is None%}<option value="zero" selected>{%else%}<option value="zero">{%endif%}...</option>
										{% for school in schoolList%}
											{%if school.city == searchObj.school.city%}<option value="{{school.id}}" selected>{%else%}<option value="{{school.id}}">{%endif%}{{school.city}}</option>
										{% endfor %}
									</select>
								</td>
								<td width="200">
									Галузь:
										<select name="tbSector" class="form-control">
											{%if searchObj.sector == ""%}<option value="" selected>{%else%}<option value="">{%endif%}...</option>
											{%if searchObj.sector == "Адміністратівне обслуговування"%}<option value="Адміністратівне обслуговування" selected>{%else%}<option value="Адміністратівне обслуговування">{%endif%}Адміністратівне обслуговування</option>
											{%if searchObj.sector == "Водопостачання, очистка"%}<option value="Водопостачання, очистка" selected>{%else%}<option value="Водопостачання, очистка">{%endif%}Водопостачання, очистка</option>
											{%if searchObj.sector == "Державне управління"%}<option value="Державне управління" selected>{%else%}<option value="Державне управління">{%endif%}Державне управління</option>
											{%if searchObj.sector == "Видобуток ресурсів"%}<option value="Видобуток ресурсів" selected>{%else%}<option value="Видобуток ресурсів">{%endif%}Видобуток ресурсів</option>
											{%if searchObj.sector == "Інформація та телеАунікації"%}<option value="Інформація та телекомунікації" selected>{%else%}<option value="Інформація та телекомунікації">{%endif%}Інформація та телекомунікації</option>
											{%if searchObj.sector == "Мистецтво, спорт, розваги та відпочинок"%}<option value="Мистецтво, спорт, розваги та відпочинок" selected>{%else%}<option value="Мистецтво, спорт, розваги та відпочинок">{%endif%}Мистецтво, спорт, розваги та відпочинок</option>
											{%if searchObj.sector == "Оборона"%}<option value="Оборона" selected>{%else%}<option value="Оборона">{%endif%}Оборона</option>
											{%if searchObj.sector == "Освіта"%}<option value="Освіта" selected>{%else%}<option value="Освіта">{%endif%}Освіта</option>
											{%if searchObj.sector == "Оптова та роздрібна торгівля"%}<option value="Оптова та роздрібна торгівля" selected>{%else%}<option value="Оптова та роздрібна торгівля">{%endif%}Оптова та роздрібна торгівля</option>
											{%if searchObj.sector == "Готелі, ресторани, кафе"%}<option value="Готелі, ресторани, кафе" selected>{%else%}<option value="Готелі, ресторани, кафе">{%endif%}Готелі, ресторани, кафе</option>
											{%if searchObj.sector == "Охорона здоров'я"%}<option value="Охорона здоров'я" selected>{%else%}<option value="Охорона здоров'я">{%endif%}Охорона здоров'я</option>
											{%if searchObj.sector == "Переробна промисловість"%}<option value="Переробна промисловість" selected>{%else%}<option value="Переробна промисловість">{%endif%}Переробна промисловість</option>
											{%if searchObj.sector == "Виробництво і постачання енергоносіїв"%}<option value="Виробництво і постачання енергоносіїв" selected>{%else%}<option value="Виробництво і постачання енергоносіїв">{%endif%}Виробництво і постачання енергоносіїв</option>
											{%if searchObj.sector == "Професійна, наукова та технічна діяльність"%}<option value="Професійна, наукова та технічна діяльність" selected>{%else%}<option value="Професійна, наукова та технічна діяльність">{%endif%}Професійна, наукова та технічна діяльність</option>
											{%if searchObj.sector == "Сільське господарство"%}<option value="Сільське господарство" selected>{%else%}<option value="Сільське господарство">{%endif%}Сільське господарство</option>
											{%if searchObj.sector == "Будівництво"%}<option value="Будівництво" selected>{%else%}<option value="Будівництво">{%endif%}Будівництво</option>
											{%if searchObj.sector == "Транспорт, складське господарство, поштова діяльність"%}<option value="Транспорт, складське господарство, поштова діяльність" selected>{%else%}<option value="Транспорт, складське господарство, поштова діяльність">{%endif%}Транспорт, складське господарство, поштова діяльність</option>
											{%if searchObj.sector == "Фінансова та страхова діяльність"%}<option value="Фінансова та страхова діяльність" selected>{%else%}<option value="Фінансова та страхова діяльність">{%endif%}Фінансова та страхова діяльність</option>
										</select>
								</td>
								<td width="200">
									Вид продукції:
									<select name="selType" class="form-control">
										{%if searchObj.type is None%}<option value="" selected>{%else%}<option value="">{%endif%}...</option>
										{%if searchObj.type == "товар"%}<option value="товар" selected>{%else%}<option value="товар">{%endif%}товар</option>
										{%if searchObj.type == "услуга"%}<option value="услуга" selected>{%else%}<option value="услуга">{%endif%}услуга</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>
									Форма продукції:
									<select name="selIsReal" class="form-control">
										{%if searchObj.isreal is None%}<option value="" selected>{%else%}<option value="">{%endif%}...</option>
										{%if searchObj.isreal == "реальная"%}<option value="реальная" selected>{%else%}<option value="реальная">{%endif%}реальная</option>
										{%if searchObj.isreal == "виртуальная"%}<option value="виртуальная" selected>{%else%}<option value="виртуальная">{%endif%}виртуальная</option>
									</select>
								</td>
								<td>
									Слова в описі:<input name="tbDescr" type="text" class="form-control" value="{{searchObj.descr}}">
								</td>
								<td>
									Ключові слова:
								<select name="selTags" size="5" class="form-control" multiple>
									{%for item in taglist%}
										<option value="{{item.id}}">{{item.word}}</option>
									{%endfor%}
								</select>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<br>
				<br>
				<div class="col-md-5">
					<button type="submit" class="btn btn-success btn-block" formaction="?export=false" >Знайти </button>
				</div>
				<div class="col-sm-3" align="right">
					<button type="submit" class="btn btn-success" formaction="?export=true">Експорт</button>
				{%if export == "true"%}
					<a href="/media/files/export/export{{file}}.xls"  download>Завантажити export.xls</a>
				{%endif%}
				</div>
			</form>
			<br>
			<br>
			<hr>
				<table class="table">
					<thead>
						<tr>
							<th>Проект</th>
							<th>Активний</th>
							<th>Повнота інформація</th>
							<th>Школа</th>
						</tr>
					</thead>
					<tbody>
						{%for item in resultList%}
						<tr>
							<td><a href="infoproject?id={{item.id}}"><h4>{{item.title}}</h4></a></td>
							<td>
							    {%if item.isactive is True %}
							        Активний
							    {%else%}
							        Не активний
						        {%endif%}
							</td>
							<td>
								{% if item.sector == "" or item.type == "" or item.isreal == "" or item.descr == "" or item.financeScale == ""%}
									Не повна
								{%else%}
									Повна
								{%endif%}
							</td>
							<td>
								{{item.school.city}}
							</td>
						</tr>
						{%endfor%}
					</tbody>
				</table>
			</div>
		</div>
    </div><!-- /container -->
		  <footer>
			  <div  style="padding-top:15px;padding-left:80px;padding-bottom:5px;">
			      <table>
			            <tr>
			                <td width="80%">
    			                <img src="/static/files/imgs/design/logos.png"/>
		                    </td>
			                <td>
    			                <h6 align="right" style="background-color:#f9f9f9;margin-right:100px">&copy; 2016 Sikorsky Challenge</h6>
			                </td>
	                    </tr>
			        </table>
			  </div>
		  </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  </body>
</html>
