<!DOCTYPE html>
<html lang="uk">
  <head>
  	<link rel="icon" href="/static/files/imgs/design/favicon.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/files/imgs/design/favicon.ico" type="image/ico">

    <title>Sikorsky Challenge</title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	 <script>
		function DetectMob()
		{
		   var uagent = navigator.userAgent.toLowerCase();
		   if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent))
		   {
			  document.getElementById("menu").style.visibility = "hidden";
		   }
		}
	</script>
	<style type = "text/css">
	body {
	  padding-top: 10px;
	  padding-bottom: 5px;
	}
	.menu{
		position: fixed;
		top: 280px;
		right: 50px;
		width: 148px;
		height: 100px;
		backgroundcolor:#395610;
		padding: 10px;
		}
	html,
	body {
	  	height: 100%;
	}
	.container {
	 	display: table;
	 	height: 100%;
	}
	.row {
	  display: table-row;
	  height: 100%;
	}
	footer{
	 	width:100%;
	 	border:2px solid #dddddd;
	 	background-color:#f9f9f9;
	}
	</style>
	
  </head>

  <body onload="DetectMob()">

    <nav class="navbar navbar-fixed-top" style="background-color:#0a8e34">
          <div style="background-image:url(/static/files/imgs/design/menu_bg.png);background-repeat:no-repeat">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div style="padding-top:5px;">
          <a href="/">
			  <img src="/static/files/imgs/design/logo.png"/>
		  </a>
		  </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
			<form class="navbar-form navbar-right" method="post">
			{% csrf_token %}
				{%if entered == 0%}
					<div class="form-group">
					  <input name = "txtLogin" type="text" placeholder="Логін" class="form-control">
					</div>
					<div class="form-group">
					<input name = "txtPasswd" type="password" placeholder="Пароль" class="form-control">
					</div>
						<button type="submit" class="btn btn-primary" formaction = "auth">Увійти</button>
				{%endif%}
			</form>
			<form class="navbar-form navbar-right" method="get">
			{%if entered != 0%}
			<div class="form-group" style = "color:white">
				Доброго дня, <i style="color:lightblue">{{name}} ! </i>
			</div>
			<div class="form-group">
				<button class="btn btn-fail" type="submit" formaction = "logout">Вийти</button>
			</div>
			{%endif%}
			</form>

        </div><!--/.navbar-collapse -->
      </div>
	  </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background:white;">
    </div>

	<div class = "menu" id="menu">
		<div class="navbar-form navbar-right">
			{%if entered == "chief"%}
				<a href="search"><button class="btn btn-success btn-block" type="submit">Розгорнутий пошук</button></a>
				<hr>
				<a href="regi"><button class="btn btn-success btn-block" type="submit">Создати нового робітника</button></a>
				<hr>
				<form><button class="btn btn-success btn-block" type="submit" formaction="\">На головну сторінку</button></form>
			{%endif%}
			{%if entered == "worker"%}
				<a href="search"><button class="btn btn-success btn-block" type="submit">Розгорнутий пошук</button></a>
				<hr>
				<p></p>
				<a href="add?obj=startuper"><button class="btn btn-success btn-block" type="submit">Додати стартапера</button></a>
				<p></p>
				<a href="add?obj=project"><button class="btn btn-success btn-block" type="submit">Додати проєкт</button></a>
				<p></p>
				<a href="add?obj=investor"><button class="btn btn-success btn-block" type="submit">Додати інвестора</button></a>
				<p></p>
				<a href="add?obj=mentor"><button class="btn btn-success btn-block" type="submit">Додати ментора</button></a>
				<p></p>
				<a href="eventadd"><button class="btn btn-success btn-block" type="submit">Додати захід</button></a>
				<p></p>
				<a href="tagadd"><button class="btn btn-success btn-block" type="submit">Додати ключові слова</button></a>
				<hr>
				<form><button class="btn btn-success btn-block" type="submit" formaction="\">На головну сторінку</button></form>
			{%endif%}
		</div>
	</div>

    <div class="container">
		  <!-- Example row of columns -->
		  <div class="row">
			<div class="col-md-9">
			  <h3>Інформація про контакт інвестора "<a href="/infoinvestor?id={{contact.investorID.id}}">{{contact.investorID.investor}}</a>":</h3>
			<div class=".col-md-2">
			{%if entered == "worker"%}
				<a href="/editinvcontact?id={{contact.id}}"><button class="btn btn-success" type="submit">Редагувати</button></a>
			{%endif%}
				<a href="/infoinvcontact?id={{contact.id}}&print=true" class="btn btn-success">Роздрукувати</a>
			</div>
			<hr>
			<div class="col-sm-3">
			</div>
			<div align="right" class="col-sm-5">
				<table class="table table">
					<tbody>
						<tr>
							<td><b>ПІБ: </b></td>
							<td>
								{{contact.surname}}
								{{contact.name}}
								{{contact.midname}}
							</td>
						</tr>
						<tr>
							<td><b>Телефон: </b></td>
							<td>
								{{contact.phone}}
							</td>
						</tr>
						<tr>
							<td><b>Пошта: </b></td>
							<td>
								{{contact.mail}}
							</td>
						</tr>
						<tr>
							<td><b>Компанія: </b></td>
							<td>
								{{contact.company}}
							</td>
						</tr>
						<tr>
							<td><b>Посада: </b></td>
							<td>
								{{contact.position}}
							</td>
						</tr>
					</tbody>
				</table>
				<hr>
			</div>
			<div align="left" class="col-sm-4">
			</div>



			</div>
		  </div>
    </div> <!-- /container -->
		  <footer>
			  <div  style="padding-top:15px;padding-left:80px;padding-bottom:5px;">
			      <table>
			            <tr>
			                <td width="80%">
    			                <img src="/static/files/imgs/design/logos.png"/>
		                    </td>
			                <td>
    			                <h6 align="right" style="background-color:#f9f9f9;margin-right:100px">&copy; 2016 Sikorsky Challenge</h6>
			                </td>
	                    </tr>
			        </table>
			  </div>
		  </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

  </body>
</html>
