<!DOCTYPE html>
<html lang="uk">
  <head>
  	<link rel="icon" href="/static/files/imgs/design/favicon.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/files/imgs/design/favicon.ico" type="image/ico">

    <title>Sikorsky Challenge</title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	  <script>
  		function addMsg(){
  			var invType = document.getElementById("invTypePersonal");
  			if (invType.selected == true){
  				var ta = document.getElementById("invTypeMsg");
  				ta.disabled = false;
  			}
  			else{
  				var ta = document.getElementById("invTypeMsg");
  				ta.disabled = true;
  			}
  		}
	  </script>

	<style type = "text/css">
	body {
	  padding-top: 10px;
	  padding-bottom: 5px;
	}
	.menu{
		position: fixed;
		top: 280px;
		right: 50px;
		width: 148px;
		height: 100px;
		backgroundcolor:#395610;
		padding: 10px;
		}
	html,
	body {
	  	height: 100%;
	}
	.container {
	 	display: table;
	 	height: 100%;
	}
	.row {
	  display: table-row;
	  height: 100%;
	}
	footer{
	 	width:100%;
	 	border:2px solid #dddddd;
	 	background-color:#f9f9f9;
	}
	</style>
	
  </head>

  <body>

    <nav class="navbar navbar-fixed-top" style="background-color:#0a8e34">
          <div style="background-image:url(/static/files/imgs/design/menu_bg.png);background-repeat:no-repeat">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div style="padding-top:5px;">
          <a href="/">
			  <img src="/static/files/imgs/design/logo.png"/>
		  </a>
		  </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
			<form class="navbar-form navbar-right" method="get">
			{% csrf_token %}
				<div class="form-group" style = "color:white">
					Доброго дня, <i style="color:lightblue">{{name}}!</i>
				</div>
				<div class="form-group">
					<button class="btn btn-fail" formaction = "logout">Вийти</button>
				</div>
			</form>

        </div><!--/.navbar-collapse -->
      </div>
	  </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background:white;">
    </div>

	<div class = "menu">
		<div class="navbar-form navbar-right">
			{%if entered == "chief"%}
			{%endif%}
			{%if entered == "worker"%}
			{%endif%}
		</div>
	</div>

    <div class="container">
		  <!-- Example row of columns -->
		  <div class="row">
			<div class="col-md-9">
			  <h3>Інформація про інвестора:</h3>
			</div>
			  <br>
			<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<div class=".col-md-2">
				<a class="btn btn-success" href="/infoinvestor?id={{investor.id}}">Скасувати</a>
				<button class="btn btn-success" type="submit">Зберігти</button>
			</div>
			<hr>
			<div align="right" class="col-sm-2">
				<b>Інвестор: </b>
			</div>
			<div align="left" class="col-sm-4">
				<input type="text" class="form-control" name="tbInv" placeholder="{{investor.investor}}" />
			</div>

			<div align="left" class="col-sm-10">
				<hr>
				<b>Опис: </b>
				<textarea class="form-control" name="taDescr" cols="80" rows="5" placeholder="{{investor.descr}}"></textarea>
			</div>
			<div align="left" class="col-sm-10">
				<hr>
				<br>
			</div>
			<div align="left" class="col-sm-10">
				<label>Хто може переглядати інформацію про цього інвестора?
				<select name="selInvType" id="selInvType" class="form-control" onchange="addMsg();">
					{%if investor.school is None and investor.user is None%}<option value="" selected>{%else%}<option value="global">{%endif%}Усі користувачі</option>
					{%if investor.school is not None%}<option value="" selected>{%else%}<option value="local">{%endif%}Користовачі з мого феліалу</option>
					{%if investor.user is not None%}<option id="invTypePersonal" value="" selected>{%else%}<option id="invTypePersonal" value="personal">{%endif%}Тільки я</option>
				</select>
				</label>
				<p></p>
				<div>
					<label>Повідомлення для інших користувачів: <br>
						{%if investor.user is not None%}
							<textarea id="invTypeMsg" name='invTypeMsg' rows='3' cols='45' maxlength='300'>{{investor.message}}</textarea>
						{%else%}
							<textarea id="invTypeMsg" name='invTypeMsg' rows='3' cols='45' maxlength='300' disabled>{{investor.message}}</textarea>
						{%endif%}
						</label>
				</div>
			</div>

              <div class="col-sm-10">
                <hr>
                <div class="col-sm-2">
                    <h4><b>Контакти:  </b></h4>
                </div>
                <div class="col-sm-10" align="left"><p></p>
                </div>

                <div align="left" class="col-sm-3">
                </div>
                <div class="col-sm-11" align="left"><p></p>
				<table class ="table table-striped">
					<thead>
						<tr>
							<th> <i></i> </th>
							<th> <i>Піб</i> </th>
							<th> <i>Компанія</i> </th>
							<th> <i>Должність</i> </th>
							<th> <i>Видалити</i> </th>
						</tr>
					</thead>
					<tbody>
					{%for item in contacts%}
						  <tr>
							<td></td>
							<td>
								<a href="/infocontacts?id={{item.id}}">{{item.surname}} {{item.name}} {{item.midname}}</a>
							</td>
							<td>
								{{item.company}}
							</td>
							<td>
								{{item.position}}
							</td>
							<td>
								<input type="checkbox" class="form-control" name="cbContDel{{item.id}}" value="True"/>
							</td>
						  </tr>
		  			{%endfor%}
				</table>
				</div>
			  </div>
			<div class="col-sm-11">
				<hr>
				<div class="col-sm-2">
					<h4><b>Інвестиції:  </b></h4>
				</div>
				<div class="col-sm-11" align="left"><p></p>
				<table class ="table table-striped">
					<thead>
						<tr>
							<th> <i>Дата</i> </th>
							<th> <i>Проєкт</i> </th>
							<th> <i>Ресурс \ Валюта</i> </th>
							<th> <i>Сума</i> </th>
							<th> <i>Вид фінансування</i> </th>
							<th> <i>Опис</i> </th>
							<th><i>Видалити</i></th>
						</tr>
					</thead>
					<tbody>
					{%for inv in investitions%}
						  <tr>
							<td>
								<input type="text" class="form-control" pattern="[0-9]{2}.[0-9]{2}.[0-9]{4}" name="tbInvsDate{{inv.id}}" placeholder="{{inv.date}}"/>
							</td>
							<td>
								<a href="/infoproject?id={{inv.projectID.id}}">{{inv.projectID.title}}</a>
							</td>
						    <td>
								<input type="text" class="form-control" name="tbInvsRes{{inv.id}}" placeholder="{{inv.res}}"/>
						    </td>
							<td>
								<input type="number" class="form-control" name="tbInvsSum{{inv.id}}"  pattern="[0-9]{20}" placeholder="{{inv.sum}}"/>
							</td>
							<td>
								<select name="tbType{{inv.id}}" class="form-control">
									{%if inv.type == "Ангельські"%}<option value="Ангельські" selected>{%else%}<option value="Ангельські">{%endif%}Ангельські</option>
									{%if inv.type == "Посівні"%}<option value="Посівні" selected>{%else%}<option value="Посівні">{%endif%}Посівні</option>
									{%if inv.type == "Венчурні"%}<option value="Венчурні" selected>{%else%}<option value="Венчурні">{%endif%}Венчурні</option>
									{%if inv.type == "Гранти"%}<option value="Гранти" selected>{%else%}<option value="Гранти">{%endif%}Гранти</option>
								</select>
							</td>
							<td>
								<textarea class="form-control" name="taInvsDescr{{inv.id}}" cols="20" rows="1" placeholder="{{inv.descr}}"></textarea>
							</td>
							<td>
								<input type="checkbox" class="form-control" name="cbInvsDel{{inv.id}}" placeholder="True"/>
							</td>
						  </tr>
		  			{%endfor%}
				</table>
				</div>

			<div class="col-sm-11">
				<hr>
				<div class="col-sm-2">
					<h4><b>Дод. матеріали: </b></h4>
				</div>
				<div class="col-sm-10" align="left"><br><br><br>
				</div>

				<div align="left" class="col-sm-1">
				</div>
				<div class="col-sm-6" align="left">
					<table class="table table-striped">
						<thead>
							<tr>
								<th><i></i></th>
								<th><i>Посилання</i></th>
								<th><i>Файл</i></th>
								<th><i>Видалити</i></th>
							</tr>
						</thead>
						<tbody>
						{%for item in addInfo%}
							<tr>
								<td></td>
								{%if item.url != ""%}
									<td><a href="/{{item.url}}">{{item.text}}</a></td>
									<td></td>
								{%else%}
									<td></td>
									<td><a href="/{{item.file}}" download>{{item.text}}</a></td>
								{%endif%}
								<td>
									<input type="checkbox" class="form-control" name="cbAddInfoDel{{item.id}}" value="True"/>
								</td>
							</tr>
						{%endfor%}
						</tbody>
					</table>
				</div>
			</div>

			</div>
			</form>
		  </div>
    </div> <!-- /container -->
		  <footer>
			  <div  style="padding-top:15px;padding-left:80px;padding-bottom:5px;">
			      <table>
			            <tr>
			                <td width="80%">
    			                <img src="/static/files/imgs/design/logos.png"/>
		                    </td>
			                <td>
    			                <h6 align="right" style="background-color:#f9f9f9;margin-right:100px">&copy; 2016 Sikorsky Challenge</h6>
			                </td>
	                    </tr>
			        </table>
			  </div>
		  </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

  </body>
</html>
