<!DOCTYPE html>
<html lang="uk">
  <head>
  	<link rel="icon" href="/static/files/imgs/design/favicon.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Sikorsky Challenge</title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<style type = "text/css">
	body {
	  padding-top: 10px;
	  padding-bottom: 5px;
	}
	.menu{
		position: fixed;
		top: 280px;
		right: 50px;
		width: 148px;
		height: 100px;
		backgroundcolor:#395610;
		padding: 10px;
		}
	html,
	body {
	  	height: 100%;
	}
	.container {
	 	display: table;
	 	height: 100%;
	}
	.row {
	  display: table-row;
	  height: 100%;
	}
	footer{
	 	width:100%;
	 	border:2px solid #dddddd;
	 	background-color:#f9f9f9;
	}
	</style>
	
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
			<form class="navbar-form navbar-right" method="post">
			{% csrf_token %}
			{%if entered == 0%}
				<div class="form-group">
				  <input name = "txtLogin" type="text" placeholder="Логін" class="form-control">
				</div>
				<div class="form-group">
				<input name = "txtPasswd" type="password" placeholder="Пароль" class="form-control">
				</div>
					<button type="submit" class="btn btn-primary" formaction = "auth">Увійти</button>
			{%endif%}
			</form>
			<form class="navbar-form navbar-right" method="get">
			{% csrf_token %}
			{%if entered != 0%}
			<div class="form-group" style = "color:white">
				Доброго дня, <i style="color:lightgreen">{{name}} ! </i>
			</div>
			<div class="form-group">
				<button class="btn btn-fail" type="submit" formaction = "logout">Вийти</button>
			</div>
			{%endif%}
			</form>
			
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background:white;">
    </div>

	<div class = "menu">
		<div class="navbar-form navbar-right">
			{%if entered == "chief"%}
			{%endif%}
			{%if entered == "worker"%}
			{%endif%}
		</div>
	</div>

    <div class="container">
		  <!-- Example row of columns -->
		  <div class="row">
			<div class="col-md-9">
			  <h3>Інформація о проєкте:</h3>
			<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<div class=".col-md-2">
				<a class="btn btn-success" href="/infoproject?id={{project.id}}">Відмінити</a>
				<button class="btn btn-success" type="submit" formaction="/editproject?id={{project.id}}&redirect=true">Зберігти</button>
			</div>
			<hr>
			<div class="col-md-10" align="right">
			<table class = "table table">
				<tbody>
					<tr>
						<td><b>Назва: </b></td>
						<td>
							<input type="text" class="form-control" name="tbTitle" placeholder="{{project.title}}" />
						</td>
					</tr>
					<tr>
						<td><b>Школа: </b></td>
						<td>
							{{project.school.city}}
						</td>
					</tr>
					<tr>
						<td><b>Активність: </b></td>
						<td>
							<select name="sbActive" class="form-control">
								{%if project.isactive is True%}<option value="" selected>{%else%}<option value="True">{%endif%}Активний</option>
								{%if project.isactive is False%}<option value="" selected>{%else%}<option value="False">{%endif%}Неактивний</option>
							</select>
						</td>
					</tr>
					<tr>
						<td><b>Розмір фінансування: </b></td>
						<td>
							<select name="tbFinScale" class="form-control">
								{%if project.financeScale == "до 10 тис."%}<option value="" selected>{%else%}<option value="до 10 тис.">{%endif%}до 10 тис.</option>
								{%if project.financeScale == "від 10 тис до 50 тис."%}<option value="" selected>{%else%}<option value="від 10 тис до 50 тис.">{%endif%}від 10 тис до 50 тис.</option>
								{%if project.financeScale == "від 50 тис."%}<option value="" selected>{%else%}<option value="від 50 тис.">{%endif%}від 50 тис.</option>
							</select>
						</td>
					</tr>
					</tr>
					<tr>
						<td><b>Галузь: </b></td>
						<td>
							<select name="tbSector" class="form-control">
								{%if project.sector == "Адміністратівне обслуговування"%}<option value="" selected>{%else%}<option value="Адміністратівне обслуговування">{%endif%}Адміністратівне обслуговування</option>
								{%if project.sector == "Водопостачання, очистка"%}<option value="" selected>{%else%}<option value="Водопостачання, очистка">{%endif%}Водопостачання, очистка</option>
								{%if project.sector == "Державне управління"%}<option value="" selected>{%else%}<option value="Державне управління">{%endif%}Державне управління</option>
								{%if project.sector == "Видобуток ресурсів"%}<option value="" selected>{%else%}<option value="Видобуток ресурсів">{%endif%}Видобуток ресурсів</option>
								{%if project.sector == "Інформація та телеАунікації"%}<option value="" selected>{%else%}<option value="Інформація та телекомунікації">{%endif%}Інформація та телекомунікації</option>
								{%if project.sector == "Мистецтво, спорт, розваги та відпочинок"%}<option value="" selected>{%else%}<option value="Мистецтво, спорт, розваги та відпочинок">{%endif%}Мистецтво, спорт, розваги та відпочинок</option>
								{%if project.sector == "Оборона"%}<option value="" selected>{%else%}<option value="Оборона">{%endif%}Оборона</option>
								{%if project.sector == "Освіта"%}<option value="" selected>{%else%}<option value="Освіта">{%endif%}Освіта</option>
								{%if project.sector == "Оптова та роздрібна торгівля"%}<option value="" selected>{%else%}<option value="Оптова та роздрібна торгівля">{%endif%}Оптова та роздрібна торгівля</option>
								{%if project.sector == "Готелі, ресторани, кафе"%}<option value="" selected>{%else%}<option value="Готелі, ресторани, кафе">{%endif%}Готелі, ресторани, кафе</option>
								{%if project.sector == "Охорона здоров'я"%}<option value="" selected>{%else%}<option value="Охорона здоров'я">{%endif%}Охорона здоров'я</option>
								{%if project.sector == "Переробна промисловість"%}<option value="" selected>{%else%}<option value="Переробна промисловість">{%endif%}Переробна промисловість</option>
								{%if project.sector == "Виробництво і постачання енергоносіїв"%}<option value="" selected>{%else%}<option value="Виробництво і постачання енергоносіїв">{%endif%}Виробництво і постачання енергоносіїв</option>
								{%if project.sector == "Професійна, наукова та технічна діяльність"%}<option value="" selected>{%else%}<option value="Професійна, наукова та технічна діяльність">{%endif%}Професійна, наукова та технічна діяльність</option>
								{%if project.sector == "Сільське господарство"%}<option value="" selected>{%else%}<option value="Сільське господарство">{%endif%}Сільське господарство</option>
								{%if project.sector == "Будівництво"%}<option value="" selected>{%else%}<option value="Будівництво">{%endif%}Будівництво</option>
								{%if project.sector == "Транспорт, складське господарство, поштова діяльність"%}<option value="" selected>{%else%}<option value="Транспорт, складське господарство, поштова діяльність">{%endif%}Транспорт, складське господарство, поштова діяльність</option>
								{%if project.sector == "Фінансова та страхова діяльність"%}<option value="" selected>{%else%}<option value="Фінансова та страхова діяльність">{%endif%}Фінансова та страхова діяльність</option>
							</select>
						</td>
					</tr>
					<tr>
						<td><b>Тип продукції: </b></td>
						<td>{%if project.type == "услуга"%}
					<select name="selType" class="form-control">
						<option value="товар" >товар</option>
						<option value="" selected>послуга</option>
					</select>
				{%else%}
					<select name="selType" class="form-control">
						<option value="" selected >товар</option>
						<option value="послуга">послуга</option>
					</select>
				{%endif%}</td>
					</tr>
					<tr>
						<td><b>Форма продукции: </b></td>
						<td>{%if project.isreal == "виртуальная"%}
					<select name="selIsReal" class="form-control">
						<option value="реальна">реальна</option>
						<option value="" selected>віртуальна</option>
					</select>
				{%else%}
					<select name="selIsReal" class="form-control">
						<option value="" selected >реальна</option>
						<option value="віртуальна">віртуальна</option>
					</select>
				{%endif%}</td>
					</tr>
					<tr>
						<td><b>Головний стартапер:</b></td>
						<td>
							<select name="tbLeader" class="form-control" id="leader">
								{%for lead in possibleLeaders%}
									{%if lead.surname in fioLead.surname and lead.name in fioLead.name%}<option value="" selected>{%else%}<option value="{{lead.id}}">{%endif%}{{lead.surname}} {{lead.name}} {{lead.midname}}</option>
								{%endfor%}
							</select>
						</td>
					</tr>
					<tr>
						<td><b>Ментор:</b></td>
						<td>
							<select name="tbMentor" class="form-control" id="mentors">
								{%for ment in mentorlist%}
									{%if ment.surname in currMent.surname and ment.name in currMent.name%}<option value="" selected>{%else%}<option value="{{ment.id}}">{%endif%}{{ment.surname}} {{ment.name}} {{ment.midname}}</option>
								{%endfor%}
							</select>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
			<div class="col-sm-8">
				<div align="left" class="col-sm-5">
					<h4><b>Статус:</b></h4>
				</div>
				<div align="left" class="col-sm-10">
					<table>
						<thead>
							<tr>
								<th width="150"><i>Дата</i></th>
								<th width="150"><i>Статус</i></th>
								<th><i>Видалити</i></th>
							</tr>
						</thead>
						<tbody>
							{%for item in status%}
							<tr>
								<td>
									<input type="text" class="form-control" name="tbStatDate{{item.id}}" placeholder="{{item.date.date}}"/>
								</td>
								<td>
									<input type="text" class="form-control" name="tbStatTit{{item.id}}" placeholder="{{item.title}}"/>
								</td>
								<td>
									<input type="checkbox" class="form-control" name="cbStatDel{{item.id}}" value="True"/>
								</td>
							</tr>
							{%endfor%}
						</tbody>
					</table>
				</div>
				</div>


			<div align="left" class="col-sm-8">
				<hr>
				<b>Опис: </b>
				<textarea class="form-control" cols="80" name="taDescr" rows="5" placeholder="{{project.descr}}"></textarea>
			</div>

				<div class="col-sm-12">
                <hr>
                <div class="col-sm-3">
                    <h4><b>Усі ментори:  </b></h4>
                </div>
                    <br>
                    <br>
                <div class="col-sm-2">
                </div>
				<div class="col-sm-7" align="left">
					<table class="table table-striped">
						<thead>
							<tr>
								<th><i></i></th>
								<th><i>ПІБ</i></th>
								<th><i>Є ментором з</i></th>
								<th><i>Видалити</i></th>
							</tr>
						</thead>
						<tbody>
						{%for item in mentors%}
							<tr>
								<td></td>
								<td>
									<a href="/infomentor?id={{item.mentorID.id}}">{{item.mentorID.surname}} {{item.mentorID.name}} {{item.mentorID.midname}}</a>
								</td>
								<td>
									<input type="text" class="form-control" name="tbMentDate{{item.id}}" placeholder="{{item.date.date}}"/>
								</td>
								<td>
									<input type="checkbox" class="form-control" name="cbMentDel{{item.id}}" value="True"/>
								</td>
							</tr>
						{%endfor%}
						</tbody>
					</table>
				</div>
			</div>

              <div class="col-sm-12">
                <hr>
                <div class="col-sm-2">
                    <h4><b>Учасники:  </b></h4>
                </div>
				<br>
				<div class="col-sm-7" align="left">
					<table class="table table-striped">
						<thead>
							<tr>
								<th><i></i></th>
								<th><i>ПІБ</i></th>
								<th><i>Роль</i></th>
								<th><i>Видалити</i></th>
							</tr>
						</thead>
						<tbody>
						{%for item in teams%}
							<tr>
								<td></td>
								<td><a href="/infostartuper?id={{item.startuperID.id}}">{{item.startuperID.surname}} {{item.startuperID.name}} {{item.startuperID.midname}}</a></td>
								<td>
									<input type="text" class="form-control" name="tbRole{{item.id}}" placeholder="{{item.role}}"/>
								</td>
								<td>
									<input type="checkbox" class="form-control" name="cbStartDel{{item.id}}" value="True"/>
								</td>
							</tr>
						{%endfor%}
						</tbody>
					</table>
				</div>
			</div>

			<div class="col-sm-12">
				<hr>
				<div class="col-sm-7">
					<h4><b>Заходи:  </b></h4>
				</div>
					<br>
					<br>
				<div class="col-sm-2">
					</div>
				<div class="col-sm-6" align="left">
					<table class="table table-striped">
						<thead>
							<tr>
								<th><i></i></th>
								<th><i>Дата</i></th>
								<th><i>Захід</i></th>
								<th><i>Видалити</i></th>
							</tr>
						</thead>
						<tbody>
						{%for item in activities%}
							<tr>
								<td></td>
									<td>{{item.eventID.date}}</td>
									<td><a href="infoevent?id={{item.eventID.id}}">{{item.eventID.title}}</a></td>
								<td>
									<input type="checkbox" class="form-control" name="cbActDel{{item.id}}" value="True"/>
								</td>
							</tr>
						{%endfor%}
						</tbody>
					</table>
				</div>
			</div>

			<div class="col-sm-12">
				<hr>
				<div class="col-sm-7">
					<h4><b>Необхідні інвестиціЇ: </b></h4>
				</div>
				<br>
				<br>
				<div class="col-sm-2">
				</div>
				<div class="col-sm-6" align="left"><p></p>
				<table class ="table table-striped">
					<thead>
						<tr>
							<th> <i>Вид фінансування</i> </th>
							<th> <i>Ресурс \ Валюта</i> </th>
							<th> <i>Сума</i> </th>
							<th> <i>Видалити</i> </th>
						</tr>
					</thead>
					<tbody>
					{%for item in reqInvests%}
						  <tr>
							<td>
								<select name="tbReqInvType{{item.id}}" class="form-control">
										{%if item.type == "Ангельскі"%}<option value="" selected>{%else%}<option value="Ангельскі">{%endif%}Ангельскі</option>
										{%if item.type == "Посівні"%}<option value="" selected>{%else%}<option value="Посівні">{%endif%}Посівні</option>
										{%if item.type == "Венчурні"%}<option value="" selected>{%else%}<option value="Венчурні">{%endif%}Венчурні</option>
										{%if item.type == "Гранти"%}<option value="" selected>{%else%}<option value="Гранти">{%endif%}Гранти</option>
								</select>
						    </td>
							<td align="center"><input type="text" class="form-control" name="tbReqInvRes{{item.id}}" placeholder="{{item.res}}"/></td>
							<td><input type="text" class="form-control" name="tbReqInvSum{{item.id}}" placeholder="{{item.sum}}"/></td>
							<td>
								<input type="checkbox" class="form-control" name="cbReqInvDel{{item.id}}" value="True"/>
							</td>
						  </tr>
		  			{%endfor%}
				</table>
				</div>
			</div>

			<div class="col-sm-12">
				<hr>
				<div class="col-sm-7">
					<h4><b>Дод. матеріали: </b></h4>
				</div>
					<br>
					<br>
				<div class="col-sm-2">
					</div>
				<div class="col-sm-6" align="left">
					<table class="table table-striped">
						<thead>
							<tr>
								<th><i></i></th>
								<th><i>Посилання</i></th>
								<th><i>Файл</i></th>
								<th><i>Видалити</i></th>
							</tr>
						</thead>
						<tbody>
						{%for item in addInfo%}
							<tr>
								<td></td>
								{%if item.url != ""%}
									<td><a href="/{{item.url}}">{{item.text}}</a></td>
									<td></td>
								{%else%}
									<td></td>
									<td><a href="/{{item.file}}" download>{{item.text}}</a></td>
								{%endif%}
								<td>
									<input type="checkbox" class="form-control" name="cbAddInfoDel{{item.id}}" value="True"/>
								</td>
							</tr>
						{%endfor%}
						</tbody>
					</table>
				</div>
			</div>

			</form>
			</div>
		  </div>
    </div> <!-- /container -->
		  <footer>
			  <img src="/static/files/imgs/design/logos.png"/>
				<p align="right" style="background-color:#f9f9f9;margin-right:100px">&copy; 2016 Sikorsky Challenge</p>
		  </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

  </body>
</html>
