<!DOCTYPE html>
<html lang="uk">
  <head>
  	<link rel="icon" href="/static/files/imgs/design/favicon.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/files/imgs/design/favicon.ico" type="image/ico">

    <title>Sikorsky Challenge</title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	  <script>
		function telAutoFill(){
			var phones = document.getElementsByName("tbPhone");
			for (var i = 0; i < phones.length; i++)
			{
				if (phones.item(i).value.length == 3)
					phones.item(i).value += "-";
				if (phones.item(i).value.length == 7)
					phones.item(i).value += "-";
			}
		}
	</script>
	  <script>
		function readURL(input, id) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();

					reader.onload = function (e) {
						$('#selectedImg')
							.attr('src', e.target.result)
					};

					reader.readAsDataURL(input.files[0]);
				}
		}

		function addYear(){
		  if (document.getElementById('cbSgrade').checked){
			  document.getElementById("tbFinYear").disabled = false;
		  } else {
			  document.getElementById("tbFinYear").disabled = true;
		  }
		}
	</script>
	<style type = "text/css">
	body {
	  padding-top: 10px;
	  padding-bottom: 5px;
	}
	.menu{
		position: fixed;
		top: 280px;
		right: 50px;
		width: 148px;
		height: 100px;
		backgroundcolor:#395610;
		padding: 10px;
		}
	html,
	body {
	  	height: 100%;
	}
	.container {
	 	display: table;
	 	height: 100%;
	}
	.row {
	  display: table-row;
	  height: 100%;
	}
	footer{
	 	width:100%;
	 	border:2px solid #dddddd;
	 	background-color:#f9f9f9;
	}
	</style>
	
  </head>

  <body>

    <nav class="navbar navbar-fixed-top" style="background-color:#0a8e34">
          <div style="background-image:url(/static/files/imgs/design/menu_bg.png);background-repeat:no-repeat">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div style="padding-top:5px;">
          <a href="/">
			  <img src="/static/files/imgs/design/logo.png"/>
		  </a>
		  </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
			<form class="navbar-form navbar-right" method="get">
			{% csrf_token %}
				<div class="form-group" style = "color:white">
					Доброго дня, <i style="color:lightblue">{{name}}!</i>
				</div>
				<div class="form-group">
					<button class="btn btn-fail" formaction = "logout">Вийти</button>
				</div>
			</form>

        </div><!--/.navbar-collapse -->
      </div>
	  </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background:white;">
    </div>

	<div class = "menu">
		<div class="navbar-form navbar-right">
			{%if entered == "chief"%}
			{%endif%}
			{%if entered == "worker"%}
			{%endif%}
		</div>
	</div>

    <div class="container">
		  <!-- Example row of columns -->
		  <div class="row">
			<div class="col-md-10">
			  <h3>Інформація о стартапере:</h3>
			<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
				<div class=".col-md-2">
					<a class="btn btn-success" href="/infostartuper?id={{startuper.id}}">Відмінити</a>
					<button class="btn btn-success" type="submit">Зберігти</button>
				</div>

				<hr>
				<div class="col-sm-3">
			    {%if startuper.avatar == ""%}
					<img src="/static/files/imgs/avatars/noimg.png" id="selectedImg{{item.num}}" width="100%" height="100%">
			    {%else%}
					<img src="/media/{{startuper.avatar}}" id="selectedImg{{item.num}}" width="100%" height="100%">
				{%endif%}
						<input name="fAvatar" type="file" accept="image/*" onchange="readURL(this);"/> Розмір файлу не повинен перевищувати 100кб
				</div>
				<div align="right" class="col-sm-7">
				<table class="table table">
					<tbody>
						<tr>
							<td width="200" align="right">
								<b>ПІБ: </b>
							</td>
							<td>
								<input type="text" class="form-control" pattern="([А-ЯЁІЇ][а-яёії]+[\-\s]?){2,}" name="tbFIO" placeholder="{{startuper.surname}} {{startuper.name}} {{startuper.midname}}" />
							</td>
						</tr>
						<tr>
							<td align="right">
								<b>Телефон: </b>
							</td>
							<td>
								<input type="tel" oninput="telAutoFill(this);" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="tbTel" class="form-control" placeholder="{{startuper.phone}}"  />
							</td>
						</tr>
						<tr>
							<td align="right">
								<b>Пошта: </b>
							</td>
							<td>
								<input type="email" class="form-control" name="tbMail" placeholder="{{startuper.mail}}" />
							</td>
						</tr>
						<tr>
							<td align="right"><b>Школа: </b></td>
							<td>
								{{startuper.school.city}}
							</td>
						</tr>
						<tr>
							<td align="right">
								<b>Навчання у Sikorsky Challenge: </b>
							</td>
							<td>
								{%if startuper.fgrade is True%}
									<input type="checkbox" name="cbFgrade" value="true" checked/> 1 ступень
								{%endif%}
								{%if startuper.fgrade is False%}
									<input type="checkbox" name="cbFgrade" value="false" /> 1 ступень
								{%endif%}
								<p></p>
								{%if startuper.sgrade is True%}
									<input type="checkbox" name="cbSgrade" id="cbSgrade" onclick="addYear();" value="True" checked/> 2 ступень
								{%endif%}
								{%if startuper.sgrade is False%}
									<input type="checkbox" name="cbSgrade" id="cbSgrade" onclick="addYear();" value="false" /> 2 ступень
								{%endif%}
							</td>
						</tr>
						{%if startuper.sgrade is True%}
							<tr>
								<td align="right">
									<b>Рік закінчення 2ї ступені: </b>
								</td>
								<td>
									{%if startuper.sgrade is True %}<input id="tbFinYear" name="tbFinYear" type="text"  placeholder="{{startuper.finyear}}" pattern="[0-9]{4}"  class="form-control"/>
									{%else%}<input name="tbFinYear" id="tbFinYear" type="text"  pattern="[0-9]{4}" class="form-control" placeholder="{{startuper.finyear}}" disabled/>
									{%endif%}
								</td>
							</tr>
						{%endif%}
					</tbody>
				</table>
			</div>

				<div class="col-sm-12">
					<hr>
					<div class="col-sm-1">
						<h4><b>Проєкти:  </b></h4>
					</div>
					<div class="col-sm-10" align="left">
						<br>
						<br>
					<table class="table table-striped">
						<thead>
							<tr>
								<th><i></i></th>
								<th><i>Назва</i></th>
								<th><i>Роль</i></th>
								<th><i>Видалити</i></th>
							</tr>
						</thead>
						<tbody>
						{%for item in teams%}
							<tr>
								<td></td>
								<td><a href="/infoproject?id={{item.projectID.id}}">{{item.projectID.title}}</a></td>
								<td>
									<input type="text" class="form-control" name="tbRole{{item.id}}" placeholder="{{item.role}}" />
								</td>
								<td>
									<input type="checkbox" class="form-control" name="cbDel{{item.id}}" value="True"/>
								</td>
							</tr>
						{%endfor%}
						</tbody>
					</table>
					</div>
				</div>

				<div class="col-sm-12">
					<hr>
					<div class="col-sm-2">
						<h4><b>Документи:  </b></h4>
					</div>
					<div class="col-sm-12" align="left"><p></p>
					</div>

					<div align="left" class="col-sm-1">
					</div>
					<div class="col-sm-10" align="left">
					<table class="table table-striped">
						<thead>
							<tr>
								<th><i></i></th>
								<th><i>Дата</i></th>
								<th><i>Посилання</i></th>
								<th><i>Файл</i></th>
								<th><i>Видалити</i></th>
							</tr>
						</thead>
						<tbody>
						{%for item in docs%}
							<tr>
								<td></td>
								<td>{{item.date}}</td>
								{%if item.url != ""%}
									<td>{{item.title}}</td>
									<td></td>
								{%else%}
									<td></td>
									<td>{{item.title}}</td>
								{%endif%}
									<td>
										<input type="checkbox" class="form-control" name="cbDelFile{{item.id}}" value="True"/>
									</td>
							</tr>
						{%endfor%}
						</tbody>
					</table>
					</div>
				</div>
			</form>
			</div>
		  </div>
    </div> <!-- /container -->
		  <footer>
			  <div  style="padding-top:15px;padding-left:80px;padding-bottom:5px;">
			      <table>
			            <tr>
			                <td width="80%">
    			                <img src="/static/files/imgs/design/logos.png"/>
		                    </td>
			                <td>
    			                <h6 align="right" style="background-color:#f9f9f9;margin-right:100px">&copy; 2016 Sikorsky Challenge</h6>
			                </td>
	                    </tr>
			        </table>
			  </div>
		  </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

  </body>
</html>
