<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Sikorsky Challenge</title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<style type = "text/css">
	body {
	  padding-top: 10px;
	  padding-bottom: 5px;
	}
	.menu{
		position: fixed;
		top: 280px;
		right: 50px;
		width: 148px;
		height: 100px;
		backgroundcolor:#395610;
		padding: 10px;
		}
	</style>
	
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
			<form class="navbar-form navbar-right" method="post">
			{% csrf_token %}
			{%if entered == 0%}
				<div class="form-group">
				  <input name = "txtLogin" type="text" placeholder="Логин" class="form-control">
				</div>
				<div class="form-group">
				<input name = "txtPasswd" type="password" placeholder="Пароль" class="form-control">
				</div>
					<button type="submit" class="btn btn-primary" formaction = "auth">Войти</button>
			{%endif%}
			</form>
			<form class="navbar-form navbar-right" method="get">
			{% csrf_token %}
			{%if entered != 0%}
			<div class="form-group" style = "color:white">
				Добро пожаловать, <i style="color:lightgreen">{{name}}! </i>
			</div>
			<div class="form-group">
				<button class="btn btn-fail" type="submit" formaction = "logout">Выйти</button>
			</div>
			{%endif%}
			</form>
			
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>База клиентов Sikorsky Challenge</h1>
      </div>
    </div>

	<div class = "menu">
		<div class="navbar-form navbar-right">
			{%if entered == "chief"%}
				<a href="search"><button class="btn btn-success btn-block" type="submit">Расширеный поиск</button></a>
				<hr>
				<p></p>
				<a href="regi"><button class="btn btn-success btn-block" type="submit">Создать аккаунт</button></a>
				<p></p>
			{%endif%}
			{%if entered == "worker"%}
			{%endif%}
		</div>
	</div>

    <div class="container">
		  <!-- Example row of columns -->
		  <div class="row">
			<div class="col-md-9">
			  <h3>Информация о инвесторе:</h3>
			</div>
			  <br>
			<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<div class=".col-md-2" align="left">
				<a class="btn btn-success" href="/infoinvestor?id={{investor.id}}">Отмена</a>
				<button class="btn btn-success" type="submit">Сохранить</button>
			</div>
			<hr>
			<div align="right" class="col-sm-2">
				<b>Инвестор: </b>
			</div>
			<div align="left" class="col-sm-4">
				<input type="text" class="form-control" name="tbInv" placeholder="{{investor.investor}}" />
			</div>

			<div align="left" class="col-sm-7">
				<hr>
				<b>Описание: </b>
				<textarea class="form-control" name="taDescr" cols="80" rows="5" placeholder="{{investor.descr}}"></textarea>
			</div>

              <div class="col-sm-10">
                <hr>
                <div class="col-sm-2">
                    <h4><b>Контакты:  </b></h4>
                </div>
                <div class="col-sm-10" align="left"><p></p>
                </div>

                <div align="left" class="col-sm-3">
                </div>
                <div class="col-sm-11" align="left"><p></p>
				<table class ="table table-striped">
					<thead>
						<tr>
							<th> <i></i> </th>
							<th> <i>ФИО</i> </th>
							<th> <i>Компания</i> </th>
							<th> <i>Должность</i> </th>
							<th> <i>Удалить</i> </th>
						</tr>
					</thead>
					<tbody>
					{%for item in contacts%}
						  <tr>
							<td></td>
							<td>
								<a href="/infocontacts?id={{item.id}}">{{item.surname}} {{item.name}} {{item.midname}}</a>
							</td>
							<td>
								{{item.company}}
							</td>
							<td>
								{{item.position}}
							</td>
							<td>
								<input type="checkbox" class="form-control" name="cbContDel{{item.id}}" value="True"/>
							</td>
						  </tr>
		  			{%endfor%}
				</table>
				</div>
			  </div>
			<div class="col-sm-11">
				<hr>
				<div class="col-sm-2">
					<h4><b>Инвестиции:  </b></h4>
				</div>
				<div class="col-sm-11" align="left"><p></p>
				<table class ="table table-striped">
					<thead>
						<tr>
							<th> <i>Дата</i> </th>
							<th> <i>Проект</i> </th>
							<th> <i>Ресурс \ Валюта</i> </th>
							<th> <i>Сумма</i> </th>
							<th> <i>Вид финансирования</i> </th>
							<th> <i>Описание</i> </th>
							<th><i>Удалить</i></th>
						</tr>
					</thead>
					<tbody>
					{%for inv in investitions%}
						  <tr>
							<td>
								<input type="text" class="form-control" pattern="[0-9]{2}.[0-9]{2}.[0-9]{4}" name="tbInvsDate{{inv.id}}" placeholder="{{inv.date}}"/>
							</td>
							<td>
								<a href="/infoproject?id={{inv.projectID.id}}">{{inv.projectID.title}}</a>
							</td>
						    <td>
								<input type="text" class="form-control" name="tbInvsRes{{inv.id}}" placeholder="{{inv.res}}"/>
						    </td>
							<td>
								<input type="number" class="form-control" name="tbInvsSum{{inv.id}}"  pattern="[0-9]{20}" placeholder="{{inv.sum}}"/>
							</td>
							<td>
								<select name="tbType{{inv.id}}" class="form-control">
									{%if inv.type == "Ангельские"%}<option value="Ангельские" selected>{%else%}<option value="Ангельские">{%endif%}Ангельские</option>
									{%if inv.type == "Посевные"%}<option value="Посевные" selected>{%else%}<option value="Посевные">{%endif%}Посевные</option>
									{%if inv.type == "Венчурные"%}<option value="Венчурные" selected>{%else%}<option value="Венчурные">{%endif%}Венчурные</option>
									{%if inv.type == "Гранты"%}<option value="Гранты" selected>{%else%}<option value="Гранты">{%endif%}Гранты</option>
								</select>
							</td>
							<td>
								<textarea class="form-control" name="taInvsDescr{{inv.id}}" cols="20" rows="1" placeholder="{{inv.descr}}"></textarea>
							</td>
							<td>
								<input type="checkbox" class="form-control" name="cbInvsDel{{inv.id}}" placeholder="True"/>
							</td>
						  </tr>
		  			{%endfor%}
				</table>
				</div>

			<div class="col-sm-11">
				<hr>
				<div class="col-sm-2">
					<h4><b>Доп. материалы: </b></h4>
				</div>
				<div class="col-sm-10" align="left"><p></p>
				</div>

				<div align="left" class="col-sm-1">
				</div>
				<div class="col-sm-6" align="left">
					<table class="table table-striped">
						<thead>
							<tr>
								<th><i></i></th>
								<th><i>Ссылка</i></th>
								<th><i>Файл</i></th>
								<th><i>Удалить</i></th>
							</tr>
						</thead>
						<tbody>
						{%for item in addInfo%}
							<tr>
								<td></td>
								{%if item.url != ""%}
									<td><a href="/{{item.url}}">{{item.text}}</a></td>
									<td></td>
								{%else%}
									<td></td>
									<td><a href="/{{item.file}}" download>{{item.text}}</a></td>
								{%endif%}
								<td>
									<input type="checkbox" class="form-control" name="cbAddInfoDel{{item.id}}" value="True"/>
								</td>
							</tr>
						{%endfor%}
						</tbody>
					</table>
				</div>
			</div>

			</div>
			</form>
		  </div>
		  <footer>
			<p></p>
		  </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

  </body>
</html>
