<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Додати {{obj}}</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


  	<script>
		function telAutoFill(){
			var phones = document.getElementsByName("tbPhone");
			for (var i = 0; i < phones.length; i++)
			{
				if (phones.item(i).value.length == 3)
					phones.item(i).value += "-";
				if (phones.item(i).value.length == 7)
					phones.item(i).value += "-";
			}
		}

		function readURL(input, id) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();

					reader.onload = function (e) {
						$('#selectedImg'+id)
							.attr('src', e.target.result);
					};

					reader.readAsDataURL(input.files[0]);
				}
		}
		window.onmousedown = function (e) {
			var el = e.target;
			if (el.tagName.toLowerCase() == 'option' && el.parentNode.hasAttribute('multiple')) {
				e.preventDefault();

				// toggle selection
				if (el.hasAttribute('selected')) el.removeAttribute('selected');
				else el.setAttribute('selected', '');

				// hack to correct buggy behavior
				var select = el.parentNode.cloneNode(true);
				el.parentNode.parentNode.replaceChild(select, el.parentNode);
			}
		}

		function addYear(id){
		  if (document.getElementById('cbSgrade'+id).checked){
			  document.getElementById("tbFinYear"+id).disabled = false;
			  document.getElementById("tbFinYear"+id).required = true;
		  } else {
			  document.getElementById("tbFinYear"+id).disabled = true;
			  document.getElementById("tbFinYear"+id).required = false;
		  }
		}
	</script>

	<style type = "text/css">
	body {
	  padding-top: 10px;
	  padding-bottom: 5px;
	}
	.menu{
		position: fixed;
		top: 280px;
		right: 50px;
		width: 148px;
		height: 100px;
		backgroundcolor:#395610;
		padding: 10px;
		}
	</style>
	
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
			<form class="navbar-form navbar-right" method="get">
			{% csrf_token %}
				<div class="form-group" style = "color:white">
					Доброго дня, <i style="color:lightgreen">{{name}}!</i>
				</div>
				<div class="form-group">
					<button class="btn btn-fail" formaction = "logout">Вийти</button>
				</div>
			</form>
			
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background:white;">
      <div class="container">
        <h1>База клиєнтів Sikorsky Challenge</h1>
      </div>
    </div>

	<div class = "menu">
		<div class="navbar-form navbar-right">
			{%if entered == "worker"%}
			{%endif%}
		</div>
	</div>

    <div class="container">
		  <!-- Example row of columns -->
		  <div class="row">
			  	<h3>Додати {{obj}}:</h3>
				<hr>
		  </div>
		<p></p>
		{%if added is not False%}
		<br>
			<h4>Результати:</h4>
			<p></p>
			{%for item in resultList%}
				<p style="text-indent:30px;">{{item}}</p>
			{%endfor%}
			<a class="btn btn-success" href="\">Вийти на головну сторінку</a>
			{%if err == 1%}
				<a href="#" class="btn btn-success" onclick="history.back();"> Виправити </a>
			{%endif%}
				<br>
				<br>
				<hr>
		{%endif%}
		<div class="row">
			<form class="form-regi" method = "POST" enctype="multipart/form-data">
			{% csrf_token %}
			  	<input type="file" name="excelImport" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/x-excel, application/excel, application/x-msexcel, application/vnd.ms-excel"/>
				<p></p>
				<button type="submit" class="btn btn-success"> Імпортувати з файлу </button>
			</form>
			<div class="col-md-10">
				<hr>
				<form class="form-regi" method = "POST"  enctype="multipart/form-data">
				{% csrf_token %}
				{%if loaded is True%}
				    {%if inputOpt == 1%}
					<div class="col-sm-10" align="right">
							<table>
								<tbody>
									<tr>
										<td><button type="submit" class="btn btn-success" formaction="add?obj=startuper&added=true&projectID={{projectID}}">Зберігти </button></td>
										<td width="5"></td>
										<td><a class="btn btn-success" href="\">Відмінити</a></td>
									</tr>
								</tbody>
							</table>
					</div>
						<br>
						<br>
					<hr>
						{%for item in inputList%}
							<h3>{{item.num}}</h3>
							<label>Прізвище: <input name="tbSurname"  pattern="^[А-Яа-яЁёІіЇї]+$" type="text" class="form-control" required value="{{item.surname}}" /> </label>
							<label>Ім'я: <input name="tbName" pattern="^[А-Яа-яЁёІіЇї]+$" type="text" class="form-control" required value="{{item.name}}" /></label>
							<label>По батькові: <input name="tbMidname" pattern="^[А-Яа-яЁёІіЇї]+$" type="text" class="form-control" required value="{{item.midname}}" /></label>
							<p></p>
							<label>Телефон: <input name="tbPhone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="___-___-____" type="tel" class="form-control" value="{{item.phone}}" oninput="telAutoFill(this);" /></label>
							<label>Пошта:<input name="tbMail" type="email" class="form-control" value="{{item.mail}}"></label>
							<p></p>
								<label>
									{%if item.fgrade is True %}<input name="cbFgrade{{item.num}}" type="checkbox" class="checkbox-inline" value="True" checked>{%else%}<input name="cbFgrade{{item.num}}" type="checkbox" class="checkbox-inline" value="True"> {%endif%}- 1а ступень Sikorsky Challenge
								</label>
							<p></p>
								<label>
									{%if item.sgrade is True %}<input name="cbSgrade{{item.num}}" id="cbSgrade{{item.num}}" onclick="addYear({{item.num}});" type="checkbox" class="checkbox-inline" value="True" checked>
									{%else%}<input name="cbSgrade{{item.num}}" id="cbSgrade{{item.num}}" onclick="addYear({{item.num}});" type="checkbox" class="checkbox-inline" value="True"> {%endif%}- 2а ступень Sikorsky Challenge
								</label>
							<br>
								<label>
									 Рік закінчення
									{%if item.sgrade is True %}<input id="tbFinYear{{item.num}}" name="tbFinYear" type="text"  pattern="[0-9]{4}"  class="form-control" value="{{item.finyear}}"/>
									{%else%}<input name="tbFinYear" id="tbFinYear{{item.num}}" type="text"  pattern="[0-9]{4}" class="form-control" value="{{item.finyear}}" disabled/>
									{%endif%}
								</label>

							<p></p>
							<label>Фото:
								<input name="fAvatar{{item.num}}" type="file" accept="image/*" onchange="readURL(this,{{item.num}});"/> Розмір файлу має бути не більше 100кб</label>
    							<br>
								<img id="selectedImg{{item.num}}" width="35%" height="35%" src="#" />
							<hr>
							<hr>
						{%endfor%}
					<br>
						<div class="col-sm-10" align="right">
							<table>
								<tbody>
									<tr>
										<td><button type="submit" class="btn btn-success" formaction="add?obj=startuper&added=true&projectID={{projectID}}">Зберігти </button></td>
										<td width="5"></td>
										<td><a class="btn btn-success" href="\">Відмінити</a></td>
									</tr>
								</tbody>
							</table>
						</div>
						{%endif%}
				{%endif%}

                {%if loaded is True%}
				    {%if inputOpt == 2%}
						<div class="col-sm-10" align="right">
							<table>
								<tbody>
									<tr>
										<td><button type="submit" class="btn btn-success" formaction="add?obj=project&added=true&startuperID={{startuperID}}">Зберігти </button></td>
										<td width="5"></td>
										<td><a class="btn btn-success" href="\">Відмінити</a></td>
									</tr>
								</tbody>
							</table>
						</div>
						<br>
						<br>
						<hr>
						{%for item in inputList%}
							<h3>{{item.num}}</h3>
							<table class="table table">
								<tbody>
									<tr>
										<td width="250">
											Назва: <input name="tbTitle" type="text" class="form-control" required value="{{item.title}}"  >
										</td>
										<td width="125" colspan="2">
											Головний стартапер:
											<select name="tbLeader" class="form-control" id="leader">
												{%for lead in possibleLeaders%}
													{%if lead.surname in item.leader%}<option value="{{lead.id}}" selected>{%else%}<option value="{{lead.id}}">{%endif%}{{lead.surname}} {{lead.name}} {{lead.midname}}</option>
												{%endfor%}
											</select>
										</td>
										<td width="250">
											Ментор:
											<select name="tbMentor" class="form-control" id="mentors">
												{%for ment in mentors%}
													{%if ment.surname in item.mentor%}<option value="{{ment.id}}" selected>{%else%}<option value="{{ment.id}}">{%endif%}{{ment.surname}} {{ment.name}} {{ment.midname}}</option>
												{%endfor%}
											</select>
										</td>
									</tr>
									<tr>
										<td width="250">
											Галузь:
												<select name="tbSector" class="form-control">
													{%if item.sector == "Адміністратівне обслуговування"%}<option value="Адміністратівне обслуговування" selected>{%else%}<option value="Адміністратівне обслуговування">{%endif%}Адміністратівне обслуговування</option>
													{%if item.sector == "Водопостачання, очистка"%}<option value="Водопостачання, очистка" selected>{%else%}<option value="Водопостачання, очистка">{%endif%}Водопостачання, очистка</option>
													{%if item.sector == "Державне управління"%}<option value="Державне управління" selected>{%else%}<option value="Державне управління">{%endif%}Державне управління</option>
													{%if item.sector == "Видобуток ресурсів"%}<option value="Видобуток ресурсів" selected>{%else%}<option value="Видобуток ресурсів">{%endif%}Видобуток ресурсів</option>
													{%if item.sector == "Інформація та телеАунікації"%}<option value="Інформація та телекомунікації" selected>{%else%}<option value="Інформація та телекомунікації">{%endif%}Інформація та телекомунікації</option>
													{%if item.sector == "Мистецтво, спорт, розваги та відпочинок"%}<option value="Мистецтво, спорт, розваги та відпочинок" selected>{%else%}<option value="Мистецтво, спорт, розваги та відпочинок">{%endif%}Мистецтво, спорт, розваги та відпочинок</option>
													{%if item.sector == "Оборона"%}<option value="Оборона" selected>{%else%}<option value="Оборона">{%endif%}Оборона</option>
													{%if item.sector == "Освіта"%}<option value="Освіта" selected>{%else%}<option value="Освіта">{%endif%}Освіта</option>
													{%if item.sector == "Оптова та роздрібна торгівля"%}<option value="Оптова та роздрібна торгівля" selected>{%else%}<option value="Оптова та роздрібна торгівля">{%endif%}Оптова та роздрібна торгівля</option>
													{%if item.sector == "Готелі, ресторани, кафе"%}<option value="Готелі, ресторани, кафе" selected>{%else%}<option value="Готелі, ресторани, кафе">{%endif%}Готелі, ресторани, кафе</option>
													{%if item.sector == "Охорона здоров'я"%}<option value="Охорона здоров'я" selected>{%else%}<option value="Охорона здоров'я">{%endif%}Охорона здоров'я</option>
													{%if item.sector == "Переробна промисловість"%}<option value="Переробна промисловість" selected>{%else%}<option value="Переробна промисловість">{%endif%}Переробна промисловість</option>
													{%if item.sector == "Виробництво і постачання енергоносіїв"%}<option value="Виробництво і постачання енергоносіїв" selected>{%else%}<option value="Виробництво і постачання енергоносіїв">{%endif%}Виробництво і постачання енергоносіїв</option>
													{%if item.sector == "Професійна, наукова та технічна діяльність"%}<option value="Професійна, наукова та технічна діяльність" selected>{%else%}<option value="Професійна, наукова та технічна діяльність">{%endif%}Професійна, наукова та технічна діяльність</option>
													{%if item.sector == "Сільське господарство"%}<option value="Сільське господарство" selected>{%else%}<option value="Сільське господарство">{%endif%}Сільське господарство</option>
													{%if item.sector == "Будівництво"%}<option value="Будівництво" selected>{%else%}<option value="Будівництво">{%endif%}Будівництво</option>
													{%if item.sector == "Транспорт, складське господарство, поштова діяльність"%}<option value="Транспорт, складське господарство, поштова діяльність" selected>{%else%}<option value="Транспорт, складське господарство, поштова діяльність">{%endif%}Транспорт, складське господарство, поштова діяльність</option>
													{%if item.sector == "Фінансова та страхова діяльність"%}<option value="Фінансова та страхова діяльність" selected>{%else%}<option value="Фінансова та страхова діяльність">{%endif%}Фінансова та страхова діяльність</option>
												</select>
										</td>

										<td width="125">
											Розмір фінансування:
												<select name="tbFinScale" class="form-control">
													{%if item.financeScale == "до 10 тис."%}<option value="до 10 тис." selected>{%else%}<option value="до 10 тис.">{%endif%}до 10 тис.</option>
													{%if item.financeScale == "від 10 тис до 50 тис."%}<option value="від 10 тис до 50 тис." selected>{%else%}<option value="від 10 тис до 50 тис.">{%endif%}від 10 тис до 50 тис.</option>
													{%if item.financeScale == "від 50 тис."%}<option value="від 50 тис." selected>{%else%}<option value="від 50 тис.">{%endif%}від 50 тис.</option>
												</select>
										</td>
										<td width="125">
												Вид продукції:
											{%if item.type == "услуга"%}
												<select name="selType" class="form-control">
													<option value="товар" >товар</option>
													<option value="послуга" selected>послуга</option>
												</select>
											{%else%}
												<select name="selType" class="form-control">
													<option value="товар" selected >товар</option>
													<option value="послуга">послуга</option>
												</select>
											{%endif%}
										</td>
										<td width="250">
												Форма продукції:
											{%if item.isreal == "виртуальна"%}
												<select name="selIsReal" class="form-control">
													<option value="реальна">реальна</option>
													<option value="виртуальна" selected>виртуальна</option>
												</select>
											{%else%}
												<select name="selIsReal" class="form-control">
													<option value="реальна" selected >реальна</option>
													<option value="виртуальна">виртуальна</option>
												</select>
											{%endif%}
										</td>
									</tr>
									<tr>
										<td>
											Ключові слова:
											<select name="selTags{{item.num}}" size="5" class="form-control" multiple>
												{%for item in taglist%}
													<option value="{{item.id}}">{{item.word}}</option>
												{%endfor%}
											</select>
										</td>
										<td colspan="3">
											Опис:<br>
												<textarea rows="5" cols="85" name="taDescr">{{item.descr}}</textarea>
										</td>
									</tr>
								</tbody>
							</table>
						{%endfor%}
						<div class="col-sm-10" align="right">
							<table>
								<tbody>
									<tr>
										<td><button type="submit" class="btn btn-success" formaction="add?obj=project&added=true&startuperID={{startuperID}}">Зберігти </button></td>
										<td width="5"></td>
										<td><a class="btn btn-success" href="\">Відмінити</a></td>
									</tr>
								</tbody>
							</table>
						</div>
				{%endif%}
				{%endif%}

                {%if loaded is True%}
				    {%if inputOpt == 3%}
						<div class="col-sm-10" align="right">
							<table>
								<tbody>
									<tr>
										<td><button type="submit" class="btn btn-success" formaction="add?obj=investor&added=true">Зберігти </button></td>
										<td width="5"></td>
										<td><a class="btn btn-success" href="\">Відмінити</a></td>
									</tr>
								</tbody>
							</table>
						</div>
						<br>
						<br>
						<hr>
						{%for item in inputList%}
							<h3>{{item.num}}</h3>
							<label>Інвестор: <input name="tbInvestor" type="text" class="form-control" required value="{{item.investor}}"  ></label>
							<p></p>
							<label>Опис:<br>
                            	<textarea rows="8" cols="85" name="taDescr">{{item.descr}}</textarea>
							</label>
							<hr>
						{%endfor%}
						<div class="col-sm-10" align="right">
							<table>
								<tbody>
									<tr>
										<td><button type="submit" class="btn btn-success" formaction="add?obj=investor&added=true">Зберігти </button></td>
										<td width="5"></td>
										<td><a class="btn btn-success" href="\">Відміна</a></td>
									</tr>
								</tbody>
							</table>
						</div>
				{%endif%}
				{%endif%}


				{%if loaded is True%}
				    {%if inputOpt == 4%}
						<div class="col-sm-10" align="right">
							<table>
								<tbody>
									<tr>
										<td><button type="submit" class="btn btn-success" formaction="add?obj=mentor&added=true&projectID={{projectID}}">Зберігти </button></td>
										<td width="5"></td>
										<td><a class="btn btn-success" href="\">Відміна</a></td>
									</tr>
								</tbody>
							</table>
						</div>
						<br>
						<br>
						<hr>
						{%for item in inputList%}
							<h3>{{item.num}}</h3>
							<label>Прізвище: <input name="tbSurname" pattern="^[А-Яа-яЁёІіЇї]+$" type="text" class="form-control" required value="{{item.surname}}"  ></label>
							<label>Ім'я: <input name="tbName" pattern="^[А-Яа-яЁёІіЇї]+$" type="text" class="form-control" required value="{{item.name}}" ></label>
							<label>По батькові: <input name="tbMidname" pattern="^[А-Яа-яЁёІіЇї]+$" type="text" class="form-control" value="{{item.midname}}" ></label>
							<p></p>
							<label>Телефон: <input name="tbPhone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" oninput="telAutoFill(this);" placeholder="___-___-____" type="tel" class="form-control" value="{{item.phone}}"></label>
							<label>Пошта:<input name="tbMail" type="email" class="form-control" value="{{item.mail}}"></label>
							<br>
							<hr>
						{%endfor%}
						<div class="col-sm-10" align="right">
							<table>
								<tbody>
									<tr>
										<td><button type="submit" class="btn btn-success" formaction="add?obj=mentor&added=true&projectID={{projectID}}">Зберігти </button></td>
										<td width="5"></td>
										<td><a class="btn btn-success" href="\">Відміна</a></td>
									</tr>
								</tbody>
							</table>
						</div>
				{%endif%}
				{%endif%}
				</form>
			</div>
		  </div>
		  <footer>
			<p></p>
		  </footer>
    </div><!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  </body>
</html>
