<!DOCTYPE html>
<html lang="uk">
  <head>
  	<link rel="icon" href="/static/files/imgs/design/favicon.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Sikorsky Challenge</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	  <script>
		function telAutoFill(){
			var phones = document.getElementsByName("tbPhone");
			for (var i = 0; i < phones.length; i++)
			{
				if (phones.item(i).value.length == 3)
					phones.item(i).value += "-";
				if (phones.item(i).value.length == 7)
					phones.item(i).value += "-";
			}
		}
	</script>

	<style type = "text/css">
	body {
	  padding-top: 10px;
	  padding-bottom: 5px;
	}
	.menu{
		position: fixed;
		top: 280px;
		right: 50px;
		width: 148px;
		height: 100px;
		backgroundcolor:#395610;
		padding: 10px;
		}
	html,
	body {
	  	height: 100%;
	}
	.container {
	 	display: table;
	 	height: 100%;
	}
	.row {
	  display: table-row;
	  height: 100%;
	}
	footer{
	 	width:100%;
	 	border:2px solid #dddddd;
	 	background-color:#f9f9f9;
	}
	</style>
	
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
			<form class="navbar-form navbar-right" method="get">
			{% csrf_token %}
				<div class="form-group" style = "color:white">
					Доброго дня, <i style="color:lightgreen">{{name}}! </i>
				</div>
				<div class="form-group">
					<button class="btn btn-fail" formaction = "logout">Вийти</button>
				</div>
			</form>
			
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background:white;">
    </div>

	<div class = "menu">
		<div class="navbar-form navbar-right">
			{%if entered == "worker"%}
			{%endif%}
		</div>
	</div>

    <div class="container">
		  <!-- Example row of columns -->
		  <div class="row">
			  	<h3>Додати контакти до інвестора({{investor.investor}}):</h3>
				<hr>
		  </div>
		<p></p>
		<div class="row">
			<a class="btn btn-success" href="\infoinvestor?id={{investor.id}}">Відміна</a>
			<hr>
			<form class="form-regi" method = "POST" enctype="multipart/form-data">
			{% csrf_token %}
			  	<input type="file" name="excelImport" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/x-excel, application/excel, application/x-msexcel, application/vnd.ms-excel"/>
				<p></p>
				<button type="submit" class="btn btn-success"> Завантажити файл </button>
			</form>
			<hr>
			<div class="col-md-8">
					{%if added is not False%}
						<h4>Результат:</h4>
						<p></p>
						{%for item in resultList%}
							<p style="text-indent:30px;">{{item}}</p>
						{%endfor%}
					{%endif%}
					<a class="btn btn-success" href="\infoinvestor?id={{investor.id}}">На главну сторінку</a>
				<hr>
				<form class="form-regi" method = "POST">
				{% csrf_token %}
				{%if loaded is True%}
						<button type="submit" class="btn btn-success" formaction="invcontactsadd?added=true&id={{investor.id}}">Зберегти </button>
						<hr>
						{%for item in inputList%}
							<h3>{{item.num}}</h3>
							<label>Прізвище: <input name="tbSurname" pattern="^[А-Яа-яЁёІіЇї]+$" type="text" class="form-control" value="{{item.surname}}" required></label>
							<label>Ім'я: <input name="tbName" pattern="^[А-Яа-яЁёІіЇї]+$" type="text" class="form-control" value="{{item.name}}" required></label>
							<label>По батькові: <input name="tbMidname" pattern="^[А-Яа-яЁёІіЇї]+$" type="text" class="form-control" value="{{item.midname}}" required></label>
							<p></p>
							<label>Телефон: <input name="tbPhone" oninput="telAutoFill(this);" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" type="tel" placeholder="___-___-____" class="form-control" value="{{item.phone}}" required></label>
							<label>Пошта:<input name="tbMail" type="email" class="form-control" value="{{item.mail}}" required></label>
							<p></p>
							<label>Компанія:<input name="tbCompany" type="text" class="form-control" value="{{item.company}}"></label>
							<label>Должність:<input name="tbPosition" type="text" class="form-control" value="{{item.position}}"></label>
							<p></p>
							<hr>
						{%endfor%}
						<button type="submit" class="btn btn-success" formaction="invcontactsadd?added=true&id={{investor.id}}">Зберігти </button>
				{%endif%}

				</form>
			</div>
		  </div>
    </div><!-- /container -->
		  <footer>
			  <img src="/static/files/imgs/design/logos.png"/>
				<p align="right" style="background-color:#f9f9f9;margin-right:100px">&copy; 2016 Sikorsky Challenge</p>
		  </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  </body>
</html>
